[submodule "LocalLLM/llama.cpp"]
	path = LocalLLM/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "Curl/curl"]
	path = Curl/curl
	url = https://github.com/curl/curl.git
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/DirectX-Headers"]
	path = ThirdParty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
